.login-form-wrapper {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(229, 224, 238);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-form-wrapper * {
  box-sizing: border-box;
}

.login-form-wrapper *:not([class*="fa-"]):not(i) {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-form-wrapper a {
  text-decoration: none;
}

.login-form-wrapper ul {
  list-style: none;
}
.login-form-wrapper .container{
  position: relative;
  width: 850px;
  height: 550px;
  background-color: white;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  overflow: hidden;
}
.login-form-wrapper .container h1{
  font-size: 36px;
  margin: -10px 0;
}
.login-form-wrapper .container p{
  font-size: 14px;
  margin: 15px 0;
}
.login-form-wrapper form{
  width: 100%;
}
.login-form-wrapper .form-box{
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  color: black;
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2s, visibility 0s 1s ;
}
.login-form-wrapper .container.active .form-box{
  right: 50%;
}
.login-form-wrapper .form-box.register{
  visibility: hidden;
}
.login-form-wrapper .container.active .form-box.register{
  visibility: visible;
}
.login-form-wrapper .input-box{
  position: relative;
  margin: 30px 0;
}
.login-form-wrapper .input-box input{
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: rgb(236, 234, 234);
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: black;
  font-weight: 500;

}
.login-form-wrapper .input-box input::placeholder{
  color: rgb(139, 139, 139);
  font-weight: 400;
}
.login-form-wrapper .input-box i{
  position: absolute;
  right: 20px;
  top:50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.login-form-wrapper .forgot-link{
  margin: -15px 0 15px;
}
.login-form-wrapper .forgot-link a{
  font-size: 14px;
  color: black;

}
.login-form-wrapper .button{
  width: 100%;
  height: 48px;
  background: rgb(49, 94, 251);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 600;

}
.login-form-wrapper .button:hover{
  transform: translateY(-4px);
}
.login-form-wrapper .social-icons{
  display: flex;
  justify-content: center;
}
.login-form-wrapper .social-icons a{
  display: inline-flex;
  padding: 10px;
  border: 2px solid rgb(201, 200, 200);
  font-size: 24px;
  color: black;
  margin: 0 8px;
} 
.login-form-wrapper .toggle-box{
  position: absolute;
  width: 100%;
  height: 100%;
}
.login-form-wrapper .toggle-box::before{
  content: '';
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: rgb(49, 94, 251);
  z-index: 2;
  transition: 1.8s ease-in-out;
}
.login-form-wrapper .container.active .toggle-box::before{
  left:50%;
}
.login-form-wrapper .toggle-pannel{
  position: absolute;
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.6s ease-in-out;
}
.login-form-wrapper .toggle-pannel.toggle-left{
  left: 0;
  transition-delay: 1.2s;
}
.login-form-wrapper .container.active .toggle-pannel.toggle-left{
  left: -50%;
  transition-delay: 0.6s;
}
.login-form-wrapper .toggle-pannel.toggle-right{
  right: -50%;
  transition-delay: 0.6s;
}
.login-form-wrapper .container.active .toggle-pannel.toggle-right{
  right:0;
  transition-delay: 1.2s;
}
.login-form-wrapper .toggle-pannel p{
  margin-bottom: 20px; 
}
.login-form-wrapper .toggle-pannel .button{
  width: 160px;
  height: 46px;
  background: transparent;
  border: 2px solid white;
  box-shadow: none;
}